{% elsif site.curriculum == "bioc-rnaseq" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>Before Starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td>Workshop Overview (30 min)</td></tr>
      <tr><td> </td><td>Introduction to RNA-seq (1 hr)</td></tr>
      <tr><td> </td><td>Experimental Design (1 hr)</td></tr>
      <tr><td> </td><td>RStudio Project and Experimental Data (1 hr)</td></tr>
      <tr><td>Afternoon</td> <td>Import and Annotation of Quantified Data in R (1.5 hr)</td> </tr>
      <tr><td></td><td>Exploratory Analysis and Quality Control (1.5 hr)</td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td><td>Differential Expression Analysis (2 hr)</td></tr>
      <tr> <td>Afternoon</td><td>Gene Set Enrichment Analysis (GSEA and ORA) (1.5 hr)</td></tr>
      <tr> <td></td><td>Next Steps (1 hr)</td></tr>
      <tr> <td>Evening</td> 
           <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td> 
      </tr>
      <tr> <td> </td> <td> END </td> </tr>
    </table>
  </div>
</div>
