<p id="who">
  <strong>Who:</strong>
  This lesson assumes that you have practical knowledge of R and some prior exposure to RStudio.
  These requirements can be met by:
</p>
<ol type="a">
  <li>completing a <a href="https://carpentries-incubator.github.io/bioc-intro/">Carpentries Bioconductor Introduction to R Workshop</a></li>
  <li>independent exposure to R and RStudio</li>
</ol>
<p>
Additionally, this lesson assumes that learners are somewhat familiar with RNA transcription and high-throughput sequencing.<br>
<br>
Profiles of hypothetical participants of the RNA-Seq workshop can be found on this <a href="https://carpentries-incubator.github.io/bioc-rnaseq/profiles.html">page.</a><br>
<br>
Participants should bring their own laptops and plan to participate actively.
</p>

{% comment %}
All other workshops
{% endcomment %}

{% else %}

<p id="who">
  <strong>Who:</strong>
  The course is intended for graduate students and other researchers.
  <strong>
    You do not need to have prior knowledge of the tools
    that will be presented in the workshop.
  </strong>
</p>

{% endif %}
